apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: inventario
spec:
  type: NodePort
  selector:
    app: auth
  ports:
  - port: 5001
    targetPort: 5001
    nodePort: 30001
