apiVersion: v1
kind: Service
metadata:
  name: inventario-postgres
  namespace: inventario
spec:
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: inventario-postgres
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventario-postgres
  namespace: inventario
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventario-postgres
  template:
    metadata:
      labels:
        app: inventario-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:17
          env:
            - name: POSTGRES_DB
              value: inventario_db
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              value: postgres
          ports:
            - containerPort: 5432
